@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;                
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}

s, i, em {
  font-style: normal;
  text-decoration: none;
}

fieldset, img, input, button {         
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

select, input {
  vertical-align: middle;
}

a:hover {
  color: #C81623;
}

table {
  border-collapse: collapse;           
}

img {
  border: 0;
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.large-text {
  font-size: large;
}

.underline {
  border-bottom: 1px dashed #333;
}

.list {
  list-style-type: none;
}

a {
  color: #333;
  text-decoration: none;
}


nav {
  font-size: 32px;
  padding: 10px 0;
  text-transform: capitalize;
}

.layout_footer {
  position: fixed;
  height: 10vh;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFA500;
  color: #333;
  text-align: center;
  border-top: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  background-color: rgba(277, 164, 18);
}

.layout_left {
  float: left;
  width: 70%;
}

.layout_right {
  text-align: center;
  float: left;
  width: 25%;
  margin-bottom: 100px;
}

.nav-selected {
  color: red;
}

/* sidebar css below */
.shopping-cart{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shopping-cart table{
  width: 100%;
  border-collapse: collapse;
}

.shopping-cart th {
  text-align: left;
  padding: 10px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

.shopping-cart td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.shopping-cart td button{
  cursor: pointer;
  padding: 10px 20px;
  color: #fff;
  background-color: red;
}

.shopping-cart .total {
  margin-top: 20px;
  text-align: right;
  font-size: 1.2rem;
}

.shopping-cart .checkout-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.shopping-cart .checkout-btn:hover {
  background-color: #0062cc;
}

/* below change items' css */
.products-text {
}

.products-name {
  font-size: large;
  padding: 0 10px;
}

.products-images {
  width: 100%;
  height: 100%;
}

.products-box {
  margin: 15px;
  padding: 0 0 10px 0;
  text-align: center;
  width: 160px;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.products-box:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.products_container {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 100px;
}
